PUBLIC_SITE_URL=https://moonporo.pl
PUBLIC_CONTACT_EMAIL=kontakt@moonporo.pl
PUBLIC_OPERATOR_NAME=Imię i nazwisko lub nazwa operatora
PUBLIC_OPERATOR_LOCATION=Polska
PUBLIC_DISCORD_INVITE_URL=https://discord.com/invite/lolpl
